@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Martel Sans", sans-serif; 
}
html,body{
    overflow-x: hidden;
}
body{
    background-color: #E3F2FD;
}
.header{
    /* overflow: hidden; */
    /* position: static; */
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:lightblue;
}
.logo{
    height: 10rem;
    width: 8rem;
    object-fit: cover;
    margin-left: 1rem;
}
.navbar{
    padding: 1rem;
    margin-right: 2rem;
}
.navbar-list{
    display: flex;
    list-style: none;
    gap: 4rem;
}
li a,a:visited{
    text-decoration: none;
    font-size: 1.2rem;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.4s;
}
.navbar-list li a:hover{
    opacity: 50%;
    text-decoration: underline;
}
.content{
    padding: 5rem 1.5rem;
    font-weight: bold;
    background-repeat: no-repeat;
    /* background: url("img/bg.png"); */
    object-fit: cover;
    width: 95vw;
    margin: auto;
}
#box-search{
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    display: block;
    width: 30rem;
}

.thumbnail {
    position: relative;
    display: inline-block;
}

.caption {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
    font-weight: bold;
}
.caption p{
    color: #000;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 16rem;
    background-color: lightblue;
    gap: 1rem;
}
.logo2{
    height: 6rem;
    width: 9rem;
    object-fit: cover;
}
.follow-us .icons .fa-brands{
    font-size: 2rem;
    padding: 0.5rem;
    border: 2px solid #000;
    border-radius: 50%;
    background-color: #fff;
    /* background: linear-gradient(#c91f1f,#fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}
.follow-us{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.copyright{
    font-size: 1.1rem;
}


/* FAQ Section */
.faq-container{
    margin: 2rem;
    background-color: #fff;
    padding: 1rem;
}
.faq-head{
    text-align: center;
    margin: 1rem;
}

.content-container{
    padding: 0.5rem;
}
.faq-question{
    border: 2px solid #000;
    display: flex;
    position: relative;
    background-color: #ffe681;
    border-radius: 0.5rem;
    max-height: 3rem;
    line-height: 3rem;
}
.ques-head{
    margin-left: 1rem;
    width: 85vw;
}

.open, .close{
    position: absolute;
    right: 1rem;
    font-size: 1.5rem;
    font-weight: bolder;
    opacity: 0;
    transform: translateY(-4rem);
}
.open.active, .close.active{
    opacity: 1;
    transform: translateY(0);
}
.faq-content{
    background-color: rgb(211, 236, 245);
    border-radius: 0.5rem;
    font-weight: bold;
    max-height: 0rem;
    overflow: hidden;
}
.faq-content.active{
    padding: 0.5rem;
    max-height: 17rem;
}
.email-us{
    color: rgb(80, 10, 80);
    text-decoration: underline;
}

@media (max-width:870px) {
    .faq-question{
     max-height: 10rem;
     line-height: 2rem;
    }  
    .ques-head{
     font-size: 1rem;
     width: 70vw;
    }
 }
 @media(max-width:620px){
     .ques-head{
         font-size: 1rem;
         width: 62vw;
        }
        .faq-content{
         font-size: 0.9rem;
        }
 }
 @media(max-width:480px){
     .ques-head{
         font-size: 0.9rem;
         width: 55vw;
        }
        .open, .close{
         font-weight: 700;
        }
        .faq-content{
         font-size: 0.8rem;
        }
 }
 /* Contact us */
.form{
    display: flex;
}
.contact-head{
    margin: 0.5rem;
    text-align: center;
    /* padding: 1rem; */
    font-size: 1.3rem;
    font-weight: bolder;
}
.contact-us{
    background-color: #ffe681;
    border: 2px solid #000;
    width: 30vw;
    margin: 1rem;
    padding: 1rem;
}
.first-section{
    display: flex;
    gap: 2rem;
}
.opt{
    text-align: center;
}
.first-name, .last-name, .email, .phone, .reason{
    font-weight: bold;
}
